<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Beneware-News</title>
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="keywords" content="Holter,ECG,Beneware Medical" />
<meta name="description" content="professional Holter manufacture in China, focus in making the most advanced 3 lines / 12 lines smart analysis Holter,tel：086-571-89811068" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="icon" href="../img/beneware.png" />
<link rel="stylesheet" href="../css/bootstrap.min.css" />
<link rel="stylesheet" href="../css/style.css"/>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/vue.min.js"></script> 
<!--[if lt IE 9]>
   <script src="../js/respond.min.js"></script>
<![endif]-->

</head>
<body>  
	<nav class="navbar navbar-fixed-top" id="navbar">
    <div class="container-fluid top-header center-block pad-hide">
      <div class="pull-left">        
        <span class="glyphicon glyphicon-time"></span>
        <span>Monday to Saturday 8:00 - 18:00 Sunday 8:00 - 14:00</span>
      </div>
      <div class="pull-right">
        <span class="glyphicon glyphicon-envelope"></span>&nbsp;<a href="mailto:service@beneware.net">service@beneware.net</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-phone-alt"></span>&nbsp;0571-89811068&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="glyphicon glyphicon-globe"></span> 
        <a href="../news.html" class="cnLang">中文简体</a>  
      </div>    
		</div>        
    <div class="container-fluid navbar-menu bottom-header center-block">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../en/index.html" class="navbar-brand menu"><img alt="Beneware Medical" src="../img/logo.png"></a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->   
      <div class="collapse navbar-collapse" id="main-menu">  
        <div class="nav navbar-nav navbar-right menu subscribe text-right visible-lg">          
          <div class="default-button blue-button">
            Follow us
          </div>          
        </div>          
        <ul class="nav navbar-nav navbar-right menu">
          <li><a href="../en/index.html">Home</a></li>
          <li><a href="../en/about.html">About us</a></li>
          <li><a href="../en/history.html">History</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="../en/pages/product_detail01.html">Smart Ambulatory ECG Analysis System</a></li>
              <li><a href="../en/pages/product_detail02.html">CardioShield PC ECG System</a></li>                         
              <li><a href="../en/pages/product_detail03.html">Patch Holter Recorder</a></li>  
              <li><a href="../en/pages/product_detail04.html">Ambulatory Blood Pressure Monitor</a></li>               
              <li><a href="../en/pages/product_detail05.html">Remote ECG/BP Analysis Platform</a></li>
            </ul>
          </li>
          <li><a href="../en/news.html" class="menu-selected">News</a></li>
          <li><a href="../en/cert.html">Certification</a></li>
          <li><a href="../en/contact.html">Contact us</a></li>
          <li class="pad-show"><a href="../news.html" class="cnLang">中文简体</a></li>
        </ul> 
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>  
  
  <div class="container-fluid banner">    
      <img src="../img/banner.png" class="img-responsive" />
      <div class="container page-pos phone-hide">
        <div class="row">
          <div class="page-tag">       
            News
          </div>
        </div>
      </div>					
  </div>

  <div class="container bread-crumbs">
    <div class="row">
      <div class="col-sm-4">
        <a href="../en/index.html">Home</a>
        <span class="greater-than">&gt;</span>
        News
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-right pad-hide">
        <a href="../en/index.html">back to Home <span class="glyphicon glyphicon-hand-left"></span></a>
      </div>      
    </div>
    <hr />

    <div id="app">
        <div v-for="newsList in newsLists">
            <div class="row news-info">
                <div class="col-sm-2">
                  <h4 class="text-center">{{newsList.date}}</h4>
                  <hr class="phone-hide news-hr"/>        
                  <h5 class="text-center ">{{newsList.year}}</h5>
                </div>
                <div class="col-sm-10">
                  <div v-if="newsList.image" style="float:left; margin: 10px; width: 170px;">
                      <img :src="newsList.image" class="img-responsive center-block"/>
                  </div>             
                  
                  <h4 class="pad-hide">{{newsList.title}}</h4>
                  <p class="text-indent">{{newsList.detail}}</p>
                  <p><b>{{newsList.booth}}</b></p>
                </div>                        
              </div>
              <hr />
            </div>
    </div>
  </div>
	
  <div class="container-fluid footer">
      <div class="footer-box">
        <div class="row text-white phone-hide">
          <div class="col-sm-5">
            All rights reserved ©2017 
            <span class="pad-hide">Beneware Medical</span>
          </div>
          <div class="col-sm-7">
            <ul class="list-unstyled footer-menu clearfix text-right">
              <li>About us</li>
              <li>History</li>
              <li>Products</li>
              <li>News</li>
              <li>Certification</li>
              <li>Contact us</li>
            </ul>
          </div>        
        </div>
        <div class="row phone-hide">
          <div class="col-sm-3">
            <hr />
          </div>
          <div class="col-sm-4">         
          </div>
          <div class="col-sm-5">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <a href="../en/index.html">
              <img alt="" src="../img/logo_bottom.png" class="img-responsive" />
            </a>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-7">
              <ul class="list-unstyled footer-menu clearfix text-right">
                <li><a href="../en/about.html">About us</a></li>
                <li><a href="../en/history.html">History</a></li>
                <li><a href="../en/product.html">Products</a></li>
                <li><a href="../en/news.html">News</a></li>
                <li><a href="../en/cert.html">Certification</a></li>
                <li><a href="../en/contact.html">Contact us</a></li>
              </ul>
          </div>        
        </div>
        <p class="beian phone-hide">
            <a href="http://www.beianbeian.com/beianxinxi/b8a5dd2c-86af-4745-9ad6-36036f6e0127.html" target="_blank">
              <img src="../img/beian-gongshang.png" alt="ICP备案">
              <small> 浙ICP备17034122号</small>         
            </a>
            <a href="http://www.beian.gov.cn/portal/index" target="_blank">
              <img src="../img/beian-gongan.png" alt="全国公安备案">
              <small> 全国公安备号33011802001234</small>
            </a>
          </p>
      </div>
    </div> 
  <h3 class="move-top" onclick="moveTop()">
    <span class="glyphicon glyphicon-menu-up"></span>
  </h3>

	<script src="../js/bootstrap.min.js"></script>
  <script src="../js/main-new.js"></script>
  <script>
      new Vue({
        el: '#app',
        data () {
          return {
            newsLists: ''
          }        
        },
        methods: {
          encodeFormData(data){
            if(!data){
              return "";
            }
            var pairs = [];
            for(var name in data){
              if(!data.hasOwnProperty(name)){
                continue;
              }
              if(typeof data[name] === 'function'){
                continue;
              }
              var value = data[name].toString();
              name = encodeURIComponent(name.replace('%20','+'));
              value = encodeURIComponent(value.replace('%20','+'));
              pairs.push(name + '=' + value);
            }
            return pairs.join('&');
          },
          postData (url, data, callback) {
            var request = new XMLHttpRequest();
            request.open('POST', url);
            request.onreadystatechange = function() {
              if(request.readyState===4 && callback){
                callback(request);
              }
            }
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            request.send(this.encodeFormData(data));
          },  
          /*获取列表信息： 各种*/      
          getLists () {          
            this.postData('../ci/index.php/admin/getLists/news', {lang:'en'}, function(request){
              if (request && request.responseText) {
                this.newsLists = JSON.parse(request.responseText);
              }else{
                this.newsLists = [];
              }
            }.bind(this))
          },   
        },
        mounted () {
          this.getLists();
        }
      })
    </script>  
  <script>
    function showDialog(id){	    
	    event.preventDefault();
	    $("#"+id).removeClass("hide");
	    setTimeout(function(){
		    $("#"+id).removeClass("fade");
	    },50)
    }

    $(".close-button").click(function(){
	    $(".news-dialog").addClass("fade");
	    setTimeout(function(){
        $(".news-dialog").addClass("hide");
      },600)
    })

    $("body").keydown(function(e){
		/*backspace*/		
		if(e.keyCode === 8){
			history.back();
		}
		/*escape */
		if(e.keyCode === 27){
			$(".news-dialog").addClass("fade");
			setTimeout(function(){$(".news-dialog").addClass("hide");},600)
		}
	});
  </script>
  <!--[if lt IE 9]>
   <script src="../js/ie8.js"></script>
  <![endif]-->
</body>
</html>